/* src/AdminButton.css */
.admin-button {
    align-self: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  